<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'navigation/css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <style>
    body {
        background: #eee
    }
    
    .ratings i {
        font-size: 16px;
        color: red
    }
    
    .strike-text {
        color: red;
        text-decoration: line-through
    }
    
    .product-image {
        width: 100%
    }
    
    .dot {
        height: 7px;
        width: 7px;
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 3px;
        background-color: blue;
        border-radius: 50%;
        display: inline-block
    }
    
    .spec-1 {
        color: #36393d;
        font-size: 17px;
    }
    
    h5 {
        font-weight: bold;
    font-size: 28px;
    }
    
    .para {
        font-size: 16px
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'admin_home' %}">EzyAply</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
          </button>
          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="{% url 'add_internship'  %}" class="nav-link">Add Internship</a></li> 
                <li class="nav-item"><a href="{% url 'announcement'  %}" class="nav-link">Make Announcement</a></li>
                <li class="nav-item"><a href="{% url 'all_announcement'  %}" class="nav-link">All Announcement</a></li>
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
              
            </ul>
          </div>
        </div>
      </nav>
    <h1>{{name}}</h1>
    <div class="container mt-5 mb-5" style="font-family:Arial, sans-serif;">
        <div class="d-flex justify-content-center row" >
            <div class="col-md-10">
                {% for announcement in announcements %}
                
                <div class="row p-2 bg-white border rounded" style="margin-top: 20px;">
                    <!-- <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/QpjAiHq.jpg"></div> -->
                    <div class="col-md-10 mt-1" >
                        <div style="margin-top:20px;">
                        <h5 style="font-size:24px;font-weight: 500">{{ announcement.announcement_date }}</h5>
                        </div>
                        <div>
                        <p class="text-justify text-truncate para mb-0"><span style="font-size: 19px;
                            font-weight: 700;">Announcement :-</span><span style="font-size: 19px;"> {{ announcement.announcement_text }}</span></p>
                        </div>
                    </div>
                    <div style="margin-top: 20px;margin-bottom:20px;margin-left:10px;">
                        <a href="{% url 'edit_announcement' announcement.an_id %}"><button class="btn btn-primary" type="button" style="padding: 11px 15px;
                            font-size: 15px;border-color: aliceblue;
                            border-radius: 18px;    background-color: #2b2d84;">Edit Announcement</button></a>
                             <a href="{% url 'delete_announcement' announcement.an_id %}"><button class="btn btn-primary" type="button" style="padding: 11px 15px;
                                font-size: 15px;border-color: aliceblue;
                                border-radius: 18px;    background-color: #2b2d84;">Delete Announcement</button></a>
                            
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    </div>
                    
                </div>
                {% endfor %}
                <!-- <div class="row p-2 bg-white border rounded mt-2">
                   
                    <div class="col-md-6 mt-1">
                        <h5>Quant trident shirts</h5>
                        <div class="d-flex flex-row">
                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                        <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>
                        <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h4 class="mr-1">$14.99</h4><span class="strike-text">$20.99</span>
                        </div>
                        <h6 class="text-success">Free shipping</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>
                    </div>
                </div>
                <div class="row p-2 bg-white border rounded mt-2">
                   
                    <div class="col-md-6 mt-1">
                        <h5>Quant ruybi shirts</h5>
                        <div class="d-flex flex-row">
                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>123</span>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                        <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>
                        <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span>
                        </div>
                        <h6 class="text-success">Free shipping</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>
                    </div>
                </div>
                <div class="row p-2 bg-white border rounded mt-2">
                   
                    <div class="col-md-6 mt-1">
                        <h5>Quant tinor shirts</h5>
                        <div class="d-flex flex-row">
                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>110</span>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                        <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>
                        <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h4 class="mr-1">$15.99</h4><span class="strike-text">$21.99</span>
                        </div>
                        <h6 class="text-success">Free shipping</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'navigation/js/jquery.min.js' %}"></script>
    <script src="{% static 'navigation/js/popper.js' %}"></script>
    <script src="{% static 'navigation/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'navigation/js/main.js' %}"></script>
  </body>
</html>